.typo{
background-color: yellow;
height: 100px; width:200px; 
position: absolute;    
}

.rect{
background-color:#98bf21;
height:100px; width:100px; 
position:absolute;/*포지션에 변동이 필요할때*/
top:340px;
}
.time{
background-color:hotpink;
height:100px; width:100px; 
position:absolute;/*포지션에 변동이 필요할때*/
top:170px;
}